
{% extends "base.html.twig" %}
{% block body %}

        <h1>Bienvenue dans ce blog</h1>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eius iste fugit 
                in, officia dolorem tempora, excepturi nobis est similique facilis impedit veniam quis et vel. Inventore sunt,
                ducimus cum ab cumque nulla fugit quo molestias quod repudiandae, sint ipsum.</p>
                <p>Quos nam dolorum molestias illum laborum officiis illo! Dolor, delectus natus 
                eligendi fuga deserunt officia alias ipsum aspernatur nulla fugiat doloremque cum ut in nesciunt corrupti corporis 
                porro debitis ducimus quibusdam, 
                quam inventore consectetur voluptas. Debitis laboriosam cum atque quis.</p> 

{% endblock %}